.RecipeCard {
  width: 300px;
  text-align: center;
  margin: 10px 0;

  &__image {
    width: 300px;
    height: 175px;
    border-radius: 5px;
    @include shadow-shine();
  }

  &__title {
    color: black;
    margin: 5px 0;
  }

  &__button {
    @include button-primary();
    width: 100%;
    color: black;
    border-color: black;
  }
}